{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}
{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/markoter/dev/learning/php/symfony/magazyn2/src/Controller/MainController.php</code></li>
        <li>Your template at <code>/home/markoter/dev/learning/php/symfony/magazyn2/templates/main/index.html.twig</code></li>
        <li>Tu coś napisałem </li>
        {% if is_granted('ROLE_USER') %}
            <li><a href="{{ path('app_warehouse_index') }}">Warehouses</a></li>
            <li><a href="{{ path('app_transaction_index') }}">Transactions</a></li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('app_article_index') }}">Articles</a></li>
            <li><a href="{{ path('app_user_index') }}">Users</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}
