{% extends 'base.html.twig' %}

{% block title %}Warehouse index{% endblock %}

{% block body %}
    <h1>Warehouse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Assigned users</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for warehouse in warehouses %}
            <tr>
                <td>{{ warehouse.id }}</td>
                <td>{{ warehouse.name }}</td>
                <td>
                    {% for user in warehouse.users %}
                        {{ user.username }}{% if not loop.last %}, {% endif %}
                    {% else %}
                        No users assigned.
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('app_warehouse_show', {'id': warehouse.id}) }}">show</a>
                    <a href="{{ path('app_warehouse_edit', {'id': warehouse.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_warehouse_new') }}">Create new</a>
{% endblock %}
