<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome to My App{% endblock %}</title>
    <link rel="icon" href="/ware.ico">
    <style>
        body { font-family: Arial, sans-serif; margin: 0; padding: 0; background: #f4f4f4; color: #333; }
        header { background: #007bff; color: #ffffff; padding: 10px 20px; text-align: center; }
        .container { padding: 20px; }
        footer { background: #333; color: #ffffff; text-align: center; padding: 10px; position: fixed; bottom: 0; width: 100%; }
        a:hover {color: #2e4053}
    </style>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <header>
        <h1>
            <a href="{{ path('app_main') }}">
                {% block header %}Warehouse Manager{% endblock %}
            </a>
        </h1>
        <div>
        {% if app.user %}
            Logged in as: {{ app.user.username }} {% if is_granted('ROLE_ADMIN') %}🫡 {% endif %}
            <a href="{{ path('app_logout') }}" style="color: #fff; margin-left: 20px;">Logout</a>
        {% else %}
            <a href="{{ path('app_login') }}" style="color: #fff;">Login</a>
        {% endif %}
        </div>
    </header>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <footer>
        {% block footer %}Copyright &copy; {{ "now"|date("Y") }} markoter {% endblock %}
    </footer>

    {% block javascripts %}{% endblock %}
</body>
</html>
