{% extends 'base.html.twig' %}

{% block title %}Transaction index{% endblock %}

{% block body %}
    <h1>Transaction index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Id</th>
                <th>Quantity</th>
                <th>Vat</th>
                <th>Unit_price</th>
                <th>Transaction_date</th>
                <th>User</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.isIn ? 'In' : 'Out' }}</td>
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.quantity }}</td>
                <td>{{ transaction.vat }}</td>
                <td>{{ transaction.unitPrice }}</td>
                <td>{{ transaction.transactionDate ? transaction.transactionDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ transaction.user.username }}</td>
                <td>
                    <a href="{{ path('app_transaction_show', {'id': transaction.id}) }}">show</a>
                    <a href="{{ path('app_transaction_edit', {'id': transaction.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_transaction_new') }}">Create new</a> #}
    <a href="{{ path('app_transaction_new_in') }}">Create new in</a>
    <a href="{{ path('app_transaction_new_out') }}">Create new out</a>
{% endblock %}
