{% extends 'base.html.twig' %}

{% block title %}Transaction{% endblock %}

{% block body %}
    <h1>Transaction</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Type</th>
                <td>{{ transaction.isIn ? 'In' : 'Out' }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ transaction.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ transaction.quantity }}</td>
            </tr>
            
            <tr>
                <th>Vat</th>
                <td>{{ transaction.vat }}</td>
            </tr>
            <tr>
                <th>Unit_price</th>
                <td>{{ transaction.unitPrice }}</td>
            </tr>
            <tr>
                <th>Transaction_date</th>
                <td>{{ transaction.transactionDate ? transaction.transactionDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ transaction.user.username }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_transaction_index') }}">back to list</a>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_transaction_edit', {'id': transaction.id}) }}">edit</a>
    
    {{ include('transaction/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
